:local(.footer) {
    color: #202020;
    text-align: left;
    margin-bottom: 16px;
    p {
        display: inline;
    }
    a {
        color: inherit;
        text-decoration: underline;
        white-space: nowrap;
    }
    a:hover {
        color: #278b8d;
    }
    p,
    a:not(:last-of-type) {
        margin-right: 0.75rem;
    }
}
